# HW 0 (Practice Mode)

Canvas assignment [link](https://canvas.txstate.edu/courses/2237214/assignments/32669170) for submission and due date. 

Objective: 
* familiarize with the use of basic functions in python packages
* familiarize with the use of python notebook: compile all cells to show results

Assessment: 
* successful run of the Markdown and Python notebook cells.
* succesfull submission on git [link](https://git.txstate.edu/NetID) by the due date.

Keep the following in mind for **all** notebooks you develop:

1. Structure your notebook. Use headings with meaningful levels in Markdown cells, and explain the questions each piece of code is to answer or the reason it is there.
2. Make sure your notebook can always be rerun from top to bottom.
3. **DO NOT** erase notebook cells provided.

## Setup

This section loads the relevant Python modules and does any configuration needed for the notebook to work. 

Lets import python packages we will use in this homework: 
* [numpy](https://numpy.org/) - scientific computing package
* [pandas](https://pandas.pydata.org/) - python data analysis package
* [seaborn](https://seaborn.pydata.org/) - statistical data visualization package

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

##  Introduction to Pandas
In this chapter you will use pandas commands

**Q1:** Read the data file using Pandas. **Note** When we run your experiment to test for correctness, we assume that the day.csv is in the ../data/ folder relative to your HW1.ipynb. 

1.  **Download the Capital Bike Share data set** from <https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset>.  Click 'Data Folder', download the zip file, and extract the `day.csv` file.
  * get used to downloading data files and saving them to correct hierarchy.
  * big part of projct and source versioning practice
  
2. Read the Data File: use Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)[] function to read the file into `bikes` dataframe.  
   * Our data file does not have column headers, so we need to specify the names.
   [read_csv]: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

**A1** Replace the ? mark with your answer in the python cell below.

In [4]:
bikes = pd.read_csv("data/day.csv", header = None)

**Q2:**
 Use `head` to show the first few rows of the table: 
* brief preview is a safety check you are exploring the correct data frame 

**A2**
Replace the ? mark with your answer

In [6]:
bikes.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
2,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
3,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
4,4,2011-01-04,1,0,1,0,2,1,1,0.2,0.212122,0.590435,0.160296,108,1454,1562

**Q3:**  Use `info` to show a description of the columns, along with the shape and memory use of the data frame:
* `.info()` or `.head()` can be called in the same cell as data load 
* we separate them out in this notebook so that we can discuss them in the markdown cells, but we can combine them in the future. 

**A3** Replace the ? mark with your answer in the python cell below

In [8]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       732 non-null    object
 1   1       732 non-null    object
 2   2       732 non-null    object
 3   3       732 non-null    object
 4   4       732 non-null    object
 5   5       732 non-null    object
 6   6       732 non-null    object
 7   7       732 non-null    object
 8   8       732 non-null    object
 9   9       732 non-null    object
 10  10      732 non-null    object
 11  11      732 non-null    object
 12  12      732 non-null    object
 13  13      732 non-null    object
 14  14      732 non-null    object
 15  15      732 non-null    object
dtypes: object(16)
memory usage: 91.6+ KB

**Q4:** Pandas provide a very useful function for exploring statistical properties of dataframe, and allow us to see data composition for numerical columns. Use pandas build-in function and show statistical information for columns.

**A4:** Replace the ? mark with your answer in the python cell below

In [10]:
bikes.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,732,732,732,732,732,732,732,732,732,732,732,732,732,732,732,732
unique,732,732,5,3,13,3,8,3,4,500,691,596,651,607,680,697
top,instant,dteday,3,1,1,0,6,1,1,0.265833,0.654688,0.613333,0.134954,120,6248,6043
freq,1,1,188,366,62,710,105,500,463,5,4,4,3,4,3,2

**Q5:** Use pandas functions for filtering the dataframe rows based on some column values. Find out number of rows where the value of the **temp** column is more than the average value of **temp** for the dataset.

*Steps:*
1. Find out the mean value of the temp column
2. Filter the rows where temp is grater than the mean value
3. Get the number of rows in the filtered dataframe.


**A5:** Replace the ? mark with your answer in python cell below

In [78]:
mean_value = bikes['temp'].mean()
filtered_dataframe = bikes[ bikes['temp'] > mean_value ]
row_count = len(filtered_dataframe)

print(row_count)

TypeError: Could not convert temp0.3441670.3634780.1963640.20.2269570.2043480.1965220.1650.1383330.1508330.1690910.1727270.1650.160870.2333330.2316670.1758330.2166670.2921740.2616670.17750.05913040.09652170.09739130.2234780.21750.1950.2034780.1965220.2165220.1808330.1921740.260.1869570.2113040.2333330.2858330.2716670.2208330.1347830.1443480.1890910.22250.3165220.4150.2660870.3182610.4358330.5216670.3991670.2852170.3033330.1822220.2217390.2956520.3643480.28250.3434780.4072730.2666670.3350.1983330.2616670.3841670.3765220.2617390.29250.2958330.3890910.3165220.3291670.3843480.3252170.3173910.3652170.4150.540.47250.33250.4304350.4416670.3469570.2850.2641670.2658330.2530430.2643480.30250.30.2683330.30.3150.3783330.5733330.4141670.3908330.43750.3358330.34250.4266670.5956520.50250.41250.46750.4466670.4308330.4566670.51250.5058330.5950.4591670.3366670.460.5816670.6066670.6316670.620.61750.510.47250.4516670.5491670.6166670.4141670.4591670.4791670.520.5283330.53250.53250.54250.5350.51250.5208330.56250.57750.5616670.550.5308330.5366670.60250.6041670.6316670.660.6608330.7083330.6816670.6558330.66750.7333330.7750.7641670.7150.620.6350.6483330.6783330.70750.7758330.8083330.7550.7250.69250.6350.6041670.6266670.6283330.6491670.6966670.6991670.6350.6808330.7333330.7283330.7241670.6950.680.68250.7441670.7283330.6966670.72250.7383330.7166670.7266670.7466670.720.750.7091670.7333330.74750.76250.7941670.7466670.6808330.6633330.6866670.7191670.7466670.7766670.7683330.8150.8483330.8491670.830.7433330.7716670.7750.7791670.8383330.8041670.8058330.7716670.7833330.7316670.710.7108330.7166670.74250.7650.7750.7666670.71750.7083330.6858330.6766670.6658330.7008330.7233330.7116670.6850.69750.7108330.6916670.6408330.6733330.6841670.70.680.7070590.6366670.6391670.6566670.6550.6433330.6691670.7091670.6733330.540.5991670.6339130.650.660.6533330.6443480.6508330.6733330.57750.4691670.4916670.50750.5491670.5616670.5950.6283330.6091670.6066670.6341670.6491670.6366670.6350.6166670.5641670.410.3566670.3841670.4841670.5383330.4941670.5108330.5216670.5408330.5708330.5666670.5433330.5891670.5508330.5066670.5116670.5341670.53250.5417390.4758330.42750.42250.4216670.4633330.4716670.4841670.470.3308330.2541670.3191670.340.4008330.37750.4083330.4033330.3266670.3483330.3950.4083330.40.380.3241670.3566670.4408330.530.530.4566670.3416670.2741670.3291670.4633330.44750.4166670.4408330.3733330.3750.3758330.4591670.5034780.4583330.3250.31250.3141670.2991670.3308330.3858330.46250.410.2658330.2908330.2750.2208330.2383330.28250.31750.42250.3750.2583330.2383330.2766670.3858330.4283330.4233330.3733330.30250.2747830.3217390.3250.299130.2483330.3116670.410.370.2730430.150.10750.2658330.3341670.3933330.33750.2241670.3086960.2741670.38250.2741670.180.1666670.190.3730430.3033330.190.21750.1733330.16250.2183330.34250.2941670.3416670.4250.3158330.28250.2691670.390.4691670.3991670.3133330.2641670.2658330.2826090.3541670.2566670.2650.2808330.2241670.12750.22250.3191670.3483330.3166670.3433330.3466670.280.280.2878260.3958330.4541670.40750.2908330.2791670.3666670.3591670.3443480.4858330.3533330.4141670.3258330.2433330.2583330.4041670.52750.4108330.28750.3617390.4666670.5650.57250.55750.4358330.5141670.47250.5450.5608330.5316670.5541670.6016670.50250.43750.4458330.3233330.4841670.4941670.370.4241670.4258330.4339130.4666670.5416670.4350.4033330.43750.50.4891670.4466670.3486960.39750.44250.4950.6066670.6641670.6083330.4633330.4983330.5266670.570.3966670.3216670.4133330.4766670.4983330.45750.3766670.4583330.4641670.6133330.5641670.560.62750.6216670.56250.53750.5816670.5750.5058330.5333330.5641670.61250.5733330.6116670.6366670.5933330.5641670.60.6208330.5983330.6150.6216670.6550.680.69250.690.71250.72250.6566670.680.6541670.5833330.60250.59750.5408330.5541670.60250.6491670.7108330.7266670.7208330.6533330.6558330.6483330.6391670.6316670.59250.5683330.6883330.78250.8058330.77750.7316670.7433330.7158330.6308330.69750.7491670.8341670.7650.8158330.7816670.7808330.7891670.82750.8283330.8616670.82250.7108330.7208330.7166670.7158330.7316670.7033330.7458330.7633330.8183330.7933330.770.6658330.5958330.66750.7416670.7508330.7241670.7766670.7816670.7558330.7216670.7308330.7133330.71750.75250.7658330.7933330.7691670.75250.7358330.750.7558330.7158330.69250.7008330.7208330.7266670.7066670.7191670.7233330.6783330.6358330.6358330.6491670.66750.6958330.70250.6616670.6533330.7033330.7283330.6850.7066670.7641670.7533330.6966670.70750.7258330.7366670.6966670.7033330.6591670.610.5833330.57750.5991670.61250.6333330.6083330.580.5808330.6233330.55250.5466670.5991670.650.5291670.5141670.550.6350.650.6191670.54250.5266670.5208330.5908330.65750.65750.6150.5541670.4158330.3833330.4466670.5141670.4350.43750.3933330.5216670.5616670.4683330.4558330.52250.5633330.4841670.4641670.48750.5441670.58750.550.5458330.530.47750.440.3181820.35750.3658330.3550.3433330.3258330.3191670.2808330.2958330.3521740.3616670.3891670.4208330.4850.3433330.2891670.3216670.3450.3250.34250.3808330.3741670.3533330.340.3683330.2783330.2458330.3133330.2916670.2966670.280870.2983330.2983330.34750.45250.4758330.4383330.2558330.3208330.3816670.3841670.4358330.3533330.29750.2958330.2816670.3241670.36250.3933330.4108330.33250.330.3266670.2658330.2458330.2313040.2913040.2433330.2541670.2533330.2533330.2558330.215833 to numeric

## Numpy

We now use Numpy for doing some mathematical calculation on the dataset.

**Q6:** Now, use numpy for working with below tasks
1. At first convert the dataframe into a numpy array
2. Print the shape of the numpy n-dimensional array
3. select and print rows from *100 to 105*

**A6:**
Replace the ? mark with your answer

In [ ]:
num_array = bikes.to_numpy() # conver the dataframe
print( num_array.shape ) #print the shape
print( num_array[100:106] ) # print rows from 100 to 105

(732, 16)
[['100' '2011-04-10' '2' '0' '4' '0' '0' '0' '2' '0.426667' '0.426737'
  '0.8575' '0.146767' '1188' '1707' '2895']
 ['101' '2011-04-11' '2' '0' '4' '0' '1' '1' '2' '0.595652' '0.565217'
  '0.716956' '0.324474' '855' '2493' '3348']
 ['102' '2011-04-12' '2' '0' '4' '0' '2' '1' '2' '0.5025' '0.493054'
  '0.739167' '0.274879' '257' '1777' '2034']
 ['103' '2011-04-13' '2' '0' '4' '0' '3' '1' '2' '0.4125' '0.417283'
  '0.819167' '0.250617' '209' '1953' '2162']
 ['104' '2011-04-14' '2' '0' '4' '0' '4' '1' '1' '0.4675' '0.462742'
  '0.540417' '0.1107' '529' '2738' '3267']
 ['105' '2011-04-15' '2' '0' '4' '1' '5' '0' '1' '0.446667' '0.441913'
  '0.67125' '0.226375' '642' '2484' '3126']]

**Q7:** Lets put it all together
1. Create a new numpy array selecting column number  10 - 13.
2. Sort the numpy array in ascending order based on the 2nd column of our new numpy array.
3. Print first 5 rows of the sorted numpy array

**A7:**
Replace the ? mark with your answer in the cell below

In [93]:
new_array = num_array[:,10:14] #[row:row, col:col]

sorted_array = new_array[ new_array[:, 1].argsort() ]

print( sorted_array[0:5, :] )

[['0.385668' '0' '0.261877' '46']
 ['0.391404' '0.187917' '0.507463' '532']
 ['0.426129' '0.254167' '0.274871' '3252']
 ['0.492425' '0.275833' '0.232596' '2230']
 ['0.315654' '0.29' '0.187192' '531']]

## Seaborn Plotting 1

Seaborn package is used to plot the data.  For every question in this chapter use the **bikes dataframe** for answering the questions.

**Q8:**
Make a bar plot showing the mean number of riders (y-axis) per weekday (x-axis) using seaborn [`catplot`](https://seaborn.pydata.org/generated/seaborn.catplot.html) method.

**A8:**
Replace the ? mark with your answer

In [98]:
mean_riders = sns.catplot( bikes,  )

ValueError: Could not interpret value `weekday` for parameter `x`

**Analysis**

The X-axis labels are not very helpful as day 0 is not clear. This is a question about how the data is _coded_. We'll talk more about data encoding next week. Unfortunately, the data documentation doesn't actually say how weekdays are coded!  But we can infer from the data in this case: first data point is January 1, 2011, which was a Saturday, coded as weekday 6; it then resets to 0 for the next day, and starts counting up. Often, we will not be able to infer the data encoding from the data itself - we need to consult the codebook or data set description. We got lucky this time.  But looking at the data can help us make sense of the codebook.

_Lesson here is to always *look* at your data._

**Q9:** Turn these weekday numbers into a _categorical_ variable so Pandas knows how to label them. 
Hint: use [pandas.Categorical.from_codes()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Categorical.from_codes.html).

**A9:**
Replace the ? mark with your answer in the python cell below

In [ ]:
codes = pd.CategoricalDtype(?)

bikes['day_names'] = pd.Categorical.from_codes(?)
bikes.head()

SyntaxError: invalid syntax (3895472177.py, line 1)

**A10:** Plot new data using seaborn [`catplot`](https://seaborn.pydata.org/generated/seaborn.catplot.html), where data=bikes, x-axis is `day_names` and y-axis is `cnt`

**A10:**
Replace the ? mark with your answer in the python cell below

In [ ]:
mean_riders = sns.catplot(?)

SyntaxError: invalid syntax (Temp/ipykernel_17456/1576165942.py, line 1)

You have now now plotted the average rides per day.  
**Note:**  When we do not tell [`catplot`](https://seaborn.pydata.org/generated/seaborn.catplot.html) what to do with multiple points for the same value (in this case the weekday name), it computes the mean and a bootstrapped 95% confidence interval.

## Seaborn Polotting 2: View Data over Time

Lets explore how did rides-per-day change over the course of the data set? 
* This kind of data - a sequence of data points associated with times - is called a *time series*.  
* This data set gives us an `instant` column that records the data number since the start of the data set

**Q11:**
Use [seaborn.lineplot()](https://seaborn.pydata.org/generated/seaborn.lineplot.html) where data=bikes, x-axis is `instant` and y-axis is `cnt` value.

**A11:**
Replace the ? mark with your answer  in the python cell below

In [ ]:
sns.lineplot(?)

SyntaxError: invalid syntax (Temp/ipykernel_17456/913567343.py, line 1)

Lets view this graph for actual times on x-axis. The `dteday` column records the date. We can transform `dteday` column to the actual date comlumn using [pandas.to_datetime()](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) method on the column:

In [ ]:
bikes['dt'] = pd.to_datetime(bikes['dteday'])

NameError: name 'bikes' is not defined

**Q12:**
Now create a plot using [seaborn.lineplot()](https://seaborn.pydata.org/generated/seaborn.lineplot.html) where data=bikes, x-axis is `dt` and y-axis is `cnt` value. 

**A12:** Replace the ? mark with your answer

In [ ]:
sns.lineplot(?)

SyntaxError: invalid syntax (Temp/ipykernel_17456/913567343.py, line 1)

Next, plot the _weekly_ rides by resampling.  Right now, our `bikes` data is indexed by row number in the CSV file.  We can change its index to another column, such as our `dt` column with the date, which then lets us do things like resample by week:

In [ ]:
bikes.set_index('dt')['cnt'].resample('1W').sum().plot()

NameError: name 'bikes' is not defined

What that code did, in one line, is:

1. Set the data frame's index to `dt` (`bikes.set_index('dt')`), returning a new DF
2. Select the count column (`['cnt']`), returning a series
3. Resample the series by week (`.resample('1W')`)
4. Combine measurements within each sample by summing them (`.sum()`)
5. Plotting the results using Pandas' defaults (`.plot()`)

Pandas default plotting functions are useful for quick plots to see what's in a data frame or series. They often are difficult to use to turn in to publication-ready charts.

**Q13:** Save the modified dataframe in csv format using pandas *to_csv()* function. Give the file name as **day_output**

**A13:** Replace the ? mark with your answer

In [ ]:
bikes.?

SyntaxError: invalid syntax (Temp/ipykernel_17456/3457342399.py, line 1)

## Submission Instructions

 1. Run all cells in  `ECpracticeSubmission.ipynb` and make sure there are no errors
 2. Print `ECpracticeSubmission.ipynb` to pdf file
 3. Create a Folder HW0 and Upload `ECpracticeSubmission.ipynb`, `ECpracticeSubmission.pdf` and `day_output.csv` files to your git repo allocated for this course e.g: https://git.txstate.edu/NetID/netid before the deadline. Make Sure Instructor and TA has access for the repo.